/* small Library */

.ml-6 {
    margin-left: 60px;
}

.ml-7 {
    margin-left: 70px;
}

.ml-8 {
    margin-left: 80px;
}

.ml-9 {
    margin-left: 90px;
}

.ml-10 {
    margin-left: 100px;
}

.mr-6 {
    margin-right: 60px;
}

.mr-7 {
    margin-right: 70px;
}

.mr-8 {
    margin-right: 80px;
}

.mr-9 {
    margin-right: 90px;
}

.mr-10 {
    margin-right: 100px;
}

.mt-6 {
    margin-top: 60px;
}
.mt-m30px{
    margin-top:-30px;
}

.mt-m14px{
    margin-top:-14px;
}

.mt-7 {
    margin-top: 70px;
}

.mt-8 {
    margin-top: 80px;
}

.mt-9 {
    margin-top: 90px;
}

.mt-10 {
    margin-top: 100px;
}

.mb-6 {
    margin-bottom: 60px;
}

.mb-7 {
    margin-bottom: 70px;
}

.mb-8 {
    margin-bottom: 80px;
}

.mb-9 {
    margin-bottom: 90px;
}

.mb-10 {
    margin-bottom: 100px;
}

.bg-white {
    background: #ffffff;
}

.bg-my-light {
    background: #f4f4f4;
}

.text-my-light {
    color: #f4f4f4;
}

.text-my-dark {
    color: #afafaf;
}

.text-blue {
    color: #009AAF;
}

.font25 {
    font-size: 25px;
}

.font30 {
    font-size: 30px;
}

.font40 {
    font-size: 40px;
}

.font41 {
    font-size: 30px;
}

.pull-right {
    float: right;
}

.font-w-light{
    font-weight:100;
}
.pull-left {
    float: left;
}

.w-100p {
    width: 100%;
}

.w-auto {
    width: auto!important;
}

.w-100px {
    width: 100px;
}

.w-150px {
    width: 150px;
}

.w-250px {
    width: 250px;
}

.border-top-b {
    border-top: 2px solid #009AAF !important;
    position:relative;
}
.border-none{
    border:none!important;
}
.border-top-b::before{
    content:'Selected';
    background:#009AAF;
    font-size:12px;
    color:white;
    position:absolute;
    padding:2px 5px;
    left:-2px;
    top:-23px;
    
}

.border-top-b::after{
    content:'OneTool Sugested';
    color:#009AAF;
    font-size:12px;
    position:absolute;
    padding:2px 5px;
    right:-2px;
    top:-23px;
    
}

.border-left-b {
    border-left: 2px solid #009AAF !important;
}

.border-right-b {
    border-right: 2px solid #009AAF!important;
}

.border-bottom-b {
    border-bottom: 2px solid #009AAF!important;
}

.border-b {
    border: 2px solid #009AAF!important;
}

.h-10px {
    height: 10px;
}

.h-271px {
    height: 271px;
}

.w-271px {
    width: 271px;
}


.h-300px {
    height: 300px;
}

.h-350px {
    height: 350px;
}

.h-20px {
    height: 20px;
}

.h-30px {
    height: 30px;
}

.h-110px {
    height: 110px;
}

.pointer {
    cursor: pointer;
}

.mb-m15 {
    margin-bottom: -15px;
}

.mb-m10 {
    margin-bottom: -10px;
}

.mb-m20 {
    margin-bottom: -20px;
}

.mb-m25 {
    margin-bottom: -25px;
}

.mb-m30 {
    margin-bottom: -30px;
}
.font14{
    font-size:14px!important;
}

.font12{
    font-size:12px!important;
}

.font16b{
    font-size:16px!important;
    /*color: #009AAF;*/
    
}
.font16{
    font-size:16px!important;
    color: #545454;
    
}
.font17b{
    font-size:17px!important;
    font-weight:500;
    color: #545454;
    
}
.font18b{
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */

letter-spacing: -0.005em;
color: #009AAF;

}

.border-gray{
    border:1px solid #dee2e6;
}

.font-1rem{
    font-size:1rem;
}
.w-33p{
    width:33.3%;
}
.p-relative{
    position:relative;
}

.h-150{
    height:150px!important;
}

.lh-2{
    line-height:2!important;
}
.lh-15px{
    line-height:15px!important;
}


.text-d-blue{
    color:#3293EC;
}
.text-d-blue2{
    color:#2896E5;
}
.text-orange{
    color:#EC7532;
}

.text-orange2{
    color:#E56128;
}

.black2c{
    color:#2C2C2C;
}

.black54{
    color:#545454;
}
.bg-transparent-i{
    background:transparent!important;
}
/* small Library */