body{
    overflow-x:hidden!important;
}
.navbar_image {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.navbar_image_tool {
    width: 25px;
    height: 25px;
    border-radius: 80%;
}

.navbar_image_tool:hover~.mini-profile {
    display: block;
}

.mini-profile:hover {
    display: block;
}
#myChart{
    max-height:300px!important;
}
.btn-wrap-request{
    visibility:hidden;
}

.card-header:hover .btn-wrap-request{
    visibility:visible!important;
}

.table{
    margin-bottom:0!important;
}
.nav-link {
    color: #afafaf;
    transition: 0.5 ease-in-out;
    font-size:16px!important; 
}

.link-active {
    color: #009AAF!important;
    border-bottom: 3px solid #009AAF;
    font-weight:500!important;
}

.hr {
    border: 1px solid #f4f4f4;
}

.panel {
    width: 90%;
    margin: 0 auto;
    margin-top:130px;
}

.panel-2 {
    padding: 0px 50px 0px 350px;
    margin-top:130px;
    /* z-index: -1; */
}

.panel-3 {
    padding: 0px 5px 0px 305px;
    margin-top:130px;
    /* z-index: -1; */
}

.navbar {
    z-index: 1000;
}

.container-2 {
    width: 70%;
    margin: 0 auto;
}

.tool-container {
    border-top: 1px solid #f4f4f4;
}

.shadow {
    box-shadow: 3px 3px 12px silver;
}

.tool-nav {
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
}

.border {
    border: 1px solid #f4f4f4;
}

.pricing-card-des {
    margin-top: 180px;
}

.top-products a:hover {
    color: white;
}

.nav-link {
    margin-bottom: -11px;
    padding-bottom: 10px;
}

.spot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #E56128!important;
    position: absolute;
    left: 10px;
}

.bell {
    position: relative;
}

.menu-icon {
    width: 50px!important;
}

.carousel-item-padding{
padding-left :14%;
padding-right :14%;
}


.badg-text{
    position:absolute;
    top:5px;
    right:5px;
    padding:5px;
    font-size:12px!important;
    color:#E56128!important;
    
}

.table-user-img{
    height:20px;
    width:20px;
    border-radius:50%;
}

.pricing{
    /*overflow-x:scroll;*/
}

.card-body-member{
    overflow-x:scroll!important;
}
.pricing table{
    width:100%;
}

.modal-decline{
    border-bottom:2px solid #EC7532;
}

.compare_table_mobile{
    display:none;
}


.request-btns{
    visibility:hidden;
}

table.table tr:hover .request-btns{
       visibility:visible;
}
/***************** tool-menu **************/

.tool-menu {
    width: 200px;
    position: absolute;
    color: #009AAF;
    right: 0;
    top: 20px;
    z-index: 1;
    text-align: left;
    box-shadow: 2px 2px 12px silver;
    display: none;
}


/***************** tool-menu **************/


/******************** mini-profile ******************/

.mini-profile {
    position: absolute;
    top: 42px;
    right: 20px;
    box-shadow: 3px 3px 12px silver;
    width: 300px;
    border-radius: 20px;
    position: fixed;
    display: none;
    transition: 0.5s ease-in-out!important;
}

.mini-profile-image {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.mini-profile-image {

    position:relative;
}

.logout-btn {
    background: #E56128;
    border-radius: 3px;
    color: white;
}

.show {
    display: block;
}

.show2 {
    display: block;
}

.profile-close-btn{
    position:absolute;
    right:0;
    top:0;
}

/******************** mini-profile ******************/


/************ order-summary ************/

.order-summary-container {
    width: 100%;
    height: 100vh;
    background: rgb(7, 7, 7, 0.5);
    z-index: 1000;
    position: absolute;
    top: 0;
    right: 0;
    position: fixed!important;
    display: none;
}

.order-summary-container2 {
    width: 100%;
    height: 100vh;
    background: rgb(7, 7, 7, 0.5);
    z-index: 1000;
    position: absolute;
    top: 0;
    right: 0;
    position: fixed!important;
    display: none;
}
.side-tool-wrap2{
    display:none;
    overflow-x:scroll;
}
.side-tool-wrap{
    overflow-x:scroll;
}


.order-summary-container5 {
    width: 100%;
    height: 100vh;
    background: rgb(7, 7, 7, 0.5);
    z-index: 1000;
    position: absolute;
    top: 0;
    right: 0;
    position: fixed!important;
    display: none;
}

.order-summary-container6 {
    width: 100%;
    height: 100vh;
    background: rgb(7, 7, 7, 0.5);
    z-index: 1000;
    position: absolute;
    top: 0;
    right: 0;
    position: fixed!important;
    display: none;
}


.order_summary {
    width: 600px;
    position: absolute;
    z-index: 1000;
    right: 0;
    top: 0;
    height: 100vh;
    background: white;
    position: fixed;
    padding: 50px;
    overflow-y:scroll!important;
}

.order_summary2 {
    width: 600px;
    position: absolute;
    z-index: 1000;
    right: 0;
    top: 0;
    height: 100vh;
    background: white;
    position: fixed;
    padding: 50px;
    overflow-y:scroll!important;
}
.side-tool-wrap{
    position:relative;
}

.order_summary_close {
    position: absolute;
    top: 10px;
    right: 10px;
}

.order_summary_close2 {
    position: absolute;
    top: 10px;
    right: 10px;
}

.order_summary_close3 {
    position: absolute;
    top: 10px;
    right: 10px;
}
.order_summary_close4 {
    position: absolute;
    top: 10px;
    right: 10px;
}

.order_summary_close5 {
    position: absolute;
    top: 10px;
    right: 10px;
}

.order_summary_close6 {
    position: absolute;
    top: 10px;
    right: 10px;
}



.tmanage-search-wrap{
    position:relative;
}

.search-icon{
    position:absolute;
    left:15px;
    top:8px;
    color:#8A8A8A;
}


.order-user {
    padding: 5px;
    color: #009AAF;
    border: 2px solid #009AAF;
    border-radius: 5px;
}

.order_summary_btn {
    color: #009AAF;
    border: 2px solid #009AAF;
    /* padding: 5px 10px!important; */
    width: 40px;
    background: transparent;
    /* width: 10px; */
}

.order_summary_input {
    width: 60px;
    border: 2px solid #009AAF;
    text-align: center;
}

.minus {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.plus {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
#side-menu-btn{
    display:none;
}
.tool-search{
    background:white;
    padding:10px;
    border:none;
    width:100%;
}
.manage-search{
    background:transparent;
    height:27px;
    width:146px;
    border-radius:60px;
    border: 1px solid #C8C8C8;
    padding-left: 34px!important;
    color:#8A8A8A;
}



/************ order-summary ************/


/************* sidebar *************/

.sidebar {
    background: white;
    width: 280px;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0px;
    padding-top: 40px;
    border-top: 1px solid #f4f4f4;
    position: fixed;
    z-index: 1;
}

.side-item {
    border-left: 2px solid #f4f4f4;
}

.side-item-active {
    border-left: 2px solid #009AAF;
    color: #009AAF!important;
}

.side-sep-heading {
    padding-left: 45px;
}


/************* sidebar *************/


/* *******************main-card***************** */

.add-tool {
    transition: 0.5s ease-in-out!important;
    height: 150px;
}

.add-tool:hover {
    background: #009AAF!important;
    color: white!important;
}

.dash-card {
    height: 150px;
    position: relative;
    cursor: pointer;
}
.dash-card-2 {
    height: 150px;
    position: relative;
    cursor: pointer;
    transition:0.5s!important;
}

.dash-card-3 {
    height: 350px;
    position: relative;
    cursor: pointer;
    overflow-y:scroll;
    transition:0.5s!important;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}


.dash-card h6{
    font-size:14px;
}

.dash-card::after {
    content: "Go To Tool";
    position: absolute;
    bottom: -10px;
    cursor: pointer;
    padding: 10px;
    color: white;
    background: #009AAF!important;
    width: 100%;
    text-align: center;
    transition: all 0.5s ease;
    opacity: 0;
    font-weight: bold;
}
.compare_table_mobile tr {
    width: 100%;
}

.compare_table_mobile td {
    width: 100%;
}


.dash-card:hover.dash-card::after {
    opacity: 1;
}

.dash-card h6 {
    margin-top: 10px;
}

.dash-card-lg {
    transition: 0.5s ease-in-out;
    cursor: pointer;
    height:400px;
    /*margin-top:20px!important;*/
}

.dash-card-lg:hover {
    box-shadow: 3px 3px 12px rgb(226, 225, 225);
}

.dash-card-2:hover {
    box-shadow: 3px 3px 12px rgb(226, 225, 225);
}

.dash-card-3:hover {
    box-shadow: 3px 3px 12px rgb(226, 225, 225);
}


a{
    text-decoration:none;
}
a:hover{
    /*color:white!important;*/
    text-decoration:none!important;
}

/* *******************main-card***************** */


/********************navbar***********************/
.navbar{
position:absolute;
top:0;
position:fixed!important;
width:100%;
}
/********************navbar***********************/


/********************custom Checkbox***********************/
/* Customize the label (the container) */
.container-4 {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-4 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: -3px;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius:50%;
  background-color: white;
  border :1px solid #545454;
}

/* On mouse-over, add a grey background color */
.container-4:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-4 input:checked ~ .checkmark {
  background-color: #009AAF;
  border:none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-4 input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-4 .checkmark:after {
  left: 8px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/********************custom Checkbox***********************/


 /*******************media*******************/
@media(max-width:900px){
    .sidebar{
        display:none
    }
    .panel-2{
     padding: 0px 10px 0px 10px;   
    }
    .panel-3{
     padding: 0px 10px 0px 10px;   
    }
    
    
    .show{
        display:block;
    }

    #side-menu-btn{
    display:block;
    }

    .mini-profile{
        width:100%;
        left:0;
    }

    .order_summary{
        width:100%;
    }

    .order_summary2{
        width:100%;
    }

    .media-flex-ul{
        display:block!important;
    }    
    
    .compare_table_mobile{
    display:block;
    width: 100%;
    }
    
    .compare_table{
        display:none;
    }



}

@media(max-width:1350px){
    .dash-card-lg{
        height:450px;
    }
}

@media(max-width:1198px){

    .dash-card-lg{
        height:400px;
    }

    .dash-card-2 img{
        height:60px!important;
        width:60px!important;
    }
    
}


@media(max-width:1100px){

    .dash-card-2 img{
        height:45px!important;
        width:45px!important;
    }
    
}



@media(max-width:1040px){

    .dash-card-lg{
        height:450px;
    }
    
}

@media(max-width:978px){

    .dash-card-lg{
        height:400px;
    }
    .dash-card-2 img{
        height:60px!important;
        width:60px!important;
    }

    
}


@media(max-width:580px){

    .dash-card-lg{
        height:520px;
    }
    
    .subs-img{
        width:100%;
    }
}

@media(max-width:1400px){

    .dash-card-2 img{
        height:45px;
        width:45px;
    }
    
}


/*******************media*******************/